.community {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.community h2 {
  font-size: 40px;
  text-align: center;
  color: black;
}

.community button {
  position: absolute;
  top: 80px;
  right: 300px;
  border: 3px solid rgb(212, 94, 94);
  padding: 15px;
  color: rgb(212, 94, 94);
  background-color: #fff;
}

.community button:hover {
  border: 3px solid red;
  color: red;
}

.title {
  color: gray;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0 40px;
  border: 3px solid blue;
  height: 400px;
}

.container .personData:hover {
  box-shadow: 0 2px 2px 2px black;
}

.personData,
.pData,
.pPosition {
  font-size: 20px;
  color: gray;
}

.personData,
.pName {
  font-size: 20px;
  color: black;
  text-align: center;
}

.form {
  margin-left: 500px;
}

.form input {
  width: 30%;
  height: 30px;
  border: 2px solid black;
  color: green;
}

.form button {
  color: red;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}

.form button:hover {
  color: darkblue;
  background-color: yellow;
  border: 2px solid red;
}
